.venv
__pycache__
*.py[cod]
*.pyd

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

.vscode
.idea

.pytest_cache
.mypy_cache
.ruff_cache

.coverage
coverage
htmlcov

dist
build

*.log
*.sqlite
*.db

.DS_Store
Thumbs.db